<div class="pagination mb-4">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="?page=1">&laquo; В начало</a></li>
    <li class="page-item">
         {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">{{ page_obj.previous_page_number }}</a>
        {% else %}
            <span class="page-link">{{ page_obj.number }}</span>
        {% endif %}
    </li>
    <li class="page-item">
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">{{ page_obj.next_page_number }}</a>
        {% else %}
            <span class="page-link">{{ page_obj.number }}</span>
        {% endif %}
    </li>
    <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">В конец &raquo;</a></li>
  </ul>
</nav>
</div>
