{% extends "base.html" %}

{% block title %}View{% endblock %}


{% block menu %}
{% endblock %}


{% block content %}
    <h1 class="center-text mt-5 mb-3">Опрос №{{ poll.pk }}</h1>
    <div class="parent">
        <div class="center-card card text-white bg-dark mb-5" style="max-width: 18rem;">
            <div class="card-header">Опрос #{{ poll.pk }}</div>
            <div class="card-body">
                <h5 class="card-title">{{ poll.question }}</h5>
                <hr/>
                <p class="card-text">Место для кнопок</p>
            </div>
        </div>
    </div>
    <a href="{% url 'choice_create' poll.pk %}" class="btn btn-info my-2">Добавить вариант ответа</a>
    <a href="{% url 'answer_create' poll.pk %}" class="btn btn-info my-2">Проголосовать</a>
    <div class="list mt-4">
    <ul class="list-group mb-5">
        {% for choice in choices %}
            <li class="list-group-item"><span class="variant p-1">Вариант #{{ choice.pk }}:</span> {{ choice.text }}
                <a href="{% url 'choice_delete' choice.pk %}" class="delete-button btn btn-danger btn-sm">Удалить</a>
                <a href="{% url 'choice_update' choice.pk %}" class="delete-button btn btn-success btn-sm mr-1">Обновить</a>
            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}